@import "./header-footer.css";
@import "./form.css";
@import "./saved-entries.css";

body {
    background-color: #A7CAB0;
}

.container {
    display: flex;
    font-family: 'Assistant', sans-serif;
}

p {
    margin: 5px;
}